<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head prefix="og: http://ogp.me/ns#">
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	    <TITLE>THORNBIRD.COM</TITLE>
	    <META name="robots" content="noindex,nofollow"/>
	    <META name="description" content="THORNBIRD.COM"/>
	    <META name="keywords" content="thornbird,hyman"/>
	    <META name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
	    <META name="apple-mobile-web-app-capable" content="yes"/>
	    <META name="mobile-web-app-capable" content="yes"/>
	    <META name="HandheldFriendly" content="True"/>
	    <META name="MobileOptimized" content="320"/>
	</head>

	<body>
	    <!--header-->
	    <div th:replace="fragments/header :: header"></div>
	    <div th:replace="fragments/spinner :: spinner"></div>
	
	    This is error page.
	
	    <!--footer-->
	    <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>