<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head prefix="og: http://ogp.me/ns#">
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	    <TITLE>THORNBIRD.COM</TITLE>
	    <META name="robots" content="noindex,nofollow"/>
	    <META name="description" content="THORNBIRD.COM"/>
	    <META name="keywords" content="thornbird,hyman"/>
	    <META name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
	    <META name="apple-mobile-web-app-capable" content="yes"/>
	    <META name="mobile-web-app-capable" content="yes"/>
	    <META name="HandheldFriendly" content="True"/>
	    <META name="MobileOptimized" content="320"/>
	    
	    <script th:src="@{http://code.jquery.com/jquery-latest.js}" type="text/javascript"></script>
	    <script th:src="${'/min/thornBird.min.js'}" type="text/javascript"></script>
	    <link th:href="${'/min/thornBird.min.css'}" rel="stylesheet" />
	    
	</head>

	<body>
	    <!--header-->
	    <div th:replace="fragments/header :: header"></div>
	    <div th:replace="fragments/spinner :: spinner"></div>
	
	    <input type="hidden" id="siteID" th:value="${siteId}"/>
	    <div id="main-content" th:if="${template}">
	        <div class="container" th:replace="${template}"></div>
	    </div>
	
	    <!--footer-->
	    <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>